services:
  
  db:
    image: postgres:18
    container_name: postgres_links_go
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: links_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    volumes:
      - postgres-data:/var/lib/postgresql/data

    command: postgres -c wal_level=logical
   
  mongo:
    image: mongo:latest
    container_name: mongo-link-fast
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo-data:/data/db

  kafka:
    image: confluentinc/cp-kafka:latest
    hostname: kafka
    container_name: kafka-link-fast
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_KRAFT_MODE: "true"  
      KAFKA_PROCESS_ROLES: controller,broker  
      KAFKA_NODE_ID: 1  
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LOG_DIRS: /var/lib/kafka/data  
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true" 
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_HOURS: 168  
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      CLUSTER_ID: "Mk3OEYBSD34fcwNTJENDM2Qk"  
    volumes:
      - kafka-data:/var/lib/kafka/data

  connect:
    image: confluentinc/cp-kafka-connect:7.4.0 
    container_name: kafka-connect-link-fast
    ports:
      - "8083:8083" 
    depends_on:
      - kafka 
      - db
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "kafka:9092"
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/doc,/etc/kafka-connect/jars"
      CONNECT_GROUP_ID: cg-1
      CONNECT_CONFIG_STORAGE_TOPIC: kafka_connect_config
      CONNECT_OFFSET_STORAGE_TOPIC: kafka_connect_offset
      CONNECT_STATUS_STORAGE_TOPIC: kafka_connect_status
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_REST_ADVERTISED_HOST_NAME: connect
      CONNECT_LOG4J_ROOT_LOGLEVEL: INFO
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1

      CONNECT_TOPIC_CREATION_ENABLE: true
      CONNECT_TOPIC_CREATION_DEFAULT_REPLICATION_FACTOR: 1
      CONNECT_TOPIC_CREATION_DEFAULT_PARTITIONS: 1

    volumes:
      - ./plugins:/etc/kafka-connect/jars
        
  write_api:
    build: ./write-api
    container_name: write_api
    depends_on:
      - connect 
      - kafka
      - db
    ports:
      - "8888:8888"
    environment:
      PG_URL: postgres://postgres:12345678@db:5432/links_db?sslmode=disable
      PG_USER: postgres
      PG_PASSWORD: 12345678
      PG_HOST: db
      PG_PORT: 5432

      PG_DBNAME: links_db
      DATABASE_HOSTNAME: db
      USER_CDC: debezium
      USER_PASSWORD_CDC: 12345678
      LINK_DB: links_db
      TOPIC_PREFIX: pgserver1
      PARTITIONS_STR: 1
      BATCH_SIZE: 1024
      QUEUE_SIZE: 4094

      API_URL_CONNECT: http://connect:8083/connectors

  url_projector:
    build: ./url-projector
    container_name: url_projector_link_fast
    depends_on:
      - connect 
      - kafka
      - db
      - mongo
    environment:
      KAFKA_BROKERS: kafka:9092
      KAFKA_TOPIC: pgserver1.link_fast_sc.links
    
volumes:
  postgres-data: {}
  kafka-data: {}
  mongo-data: {}