services:
  db:
    image: postgres:latest
    container_name: postgres_links_go
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: links_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    volumes:
      - postgres-data:/var/lib/postgresql/data
    command: -c wal_level=logical -c max_wal_senders=10 -c max_replication_slots=10

  redpanda:

  connect:

volumes:
  postgres-data: {}
